
.bigContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: sticky;
    padding: 1%;
    position: fixed;
    max-height: 700px;
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    top: 1vh;
    background-color: #5F9EA0;
    border-radius: 10px;
}

.inp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.inpAdd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding: 5px;
    margin: 5px 5px;
    min-height: 70px;
    font-size: calc(15px + 16 * (80vw / 1280));
    border-radius: 5px;
    border: 2px solid #0000FF;
    outline: none;
    text-align: center;
}


.butDelGazApl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 200px;
    padding: 5px;
    margin: 10px 10px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    min-height: 40px;
    font-size:  calc(15px + 20 * (80vw / 1280));
    border-radius: 5px;
    border: 2px solid blue;
}

.title {
    padding: 3px;
    font-size: calc(20px + 16 * (80vw / 1280));
}

.pModalWindow {
    color: white;
    font-size: 1em;
}

@media (max-width: 1400px) {
    .butDelGazApl {
        flex-direction: column;
    }


}

@media (max-width: 400px) {
    .inpAdd {
        font-size: 4vw;
    }
    
    .btn {
        font-size: 5vw;
    }

}